@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BulkyBookWeb by Gian</h1>
    <p>
        Where Every Page Holds a World

        Welcome to BulkyBookWeb, your gateway to a vast literary universe! We're thrilled to have you here, and we can't wait to embark on countless literary adventures together.

        At BulkyBookWeb, we believe that every book is a portal to another world, and with our extensive collection of books spanning genres, eras, and cultures, you're sure to find your next great escape. Whether you're a seasoned reader seeking your next literary obsession or a newcomer looking to discover the joy of reading, you're in the right place.

        Explore our carefully curated library, where classic novels sit alongside contemporary bestsellers, and where stories from every corner of the globe come to life. Dive into the pages of history, immerse yourself in thrilling mysteries, or simply lose yourself in the magic of storytelling.

        But BulkyBookWeb is more than just a collection of books. It's a community of passionate readers like you. Join our discussions, share your thoughts, and connect with fellow book lovers who understand the power of a well-told tale.

        Whether you're here to find your next favorite book or to connect with a community that shares your love for literature, we're here to make your reading journey unforgettable.

        So, grab a comfy chair, a warm cup of tea, and start exploring. Your next literary adventure awaits.

        Welcome to BulkyBookWeb – Where the world of books opens its arms wide, inviting you to read, connect, and dream.
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
